/* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
/* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github-dark.css */

@media (prefers-color-scheme: light) {
	.hljs-doctag,
	.hljs-keyword,
	.hljs-meta .hljs-keyword,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable.language_ {
		color: #d73a49;
	}

	.hljs-title,
	.hljs-title.class_,
	.hljs-title.class_.inherited__,
	.hljs-title.function_ {
		color: #6f42c1;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-operator,
	.hljs-variable,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #005cc5;
	}

	.hljs-regexp,
	.hljs-string,
	.hljs-meta .hljs-string {
		color: #032f62;
	}

	.hljs-built_in,
	.hljs-symbol {
		color: #e36209;
	}

	.hljs-comment,
	.hljs-code,
	.hljs-formula {
		color: #6a737d;
	}

	.hljs-name,
	.hljs-quote,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #22863a;
	}

	.hljs-subst {
		color: #24292e;
	}

	.hljs-section {
		font-weight: bold;
		color: #005cc5;
	}

	.hljs-bullet {
		color: #735c0f;
	}

	.hljs-emphasis {
		font-style: italic;
		color: #24292e;
	}

	.hljs-strong {
		font-weight: bold;
		color: #24292e;
	}

	.hljs-addition {
		color: #22863a;
		background-color: #f0fff4;
	}

	.hljs-deletion {
		color: #b31d28;
		background-color: #ffeef0;
	}
}

@media (prefers-color-scheme: dark) {
	.hljs-doctag,
	.hljs-keyword,
	.hljs-meta .hljs-keyword,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable.language_ {
		color: #ff7b72;
	}

	.hljs-title,
	.hljs-title.class_,
	.hljs-title.class_.inherited__,
	.hljs-title.function_ {
		color: #d2a8ff;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-operator,
	.hljs-variable,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #79c0ff;
	}

	.hljs-regexp,
	.hljs-string,
	.hljs-meta .hljs-string {
		color: #a5d6ff;
	}

	.hljs-built_in,
	.hljs-symbol {
		color: #ffa657;
	}

	.hljs-comment,
	.hljs-code,
	.hljs-formula {
		color: #8b949e;
	}

	.hljs-name,
	.hljs-quote,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #7ee787;
	}

	.hljs-subst {
		color: #c9d1d9;
	}

	.hljs-section {
		font-weight: bold;
		color: #1f6feb;
	}

	.hljs-bullet {
		color: #f2cc60;
	}

	.hljs-emphasis {
		font-style: italic;
		color: #c9d1d9;
	}

	.hljs-strong {
		font-weight: bold;
		color: #c9d1d9;
	}

	.hljs-addition {
		color: #aff5b4;
		background-color: #033a16;
	}

	.hljs-deletion {
		color: #ffdcd7;
		background-color: #67060c;
	}
}
