html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

:root {
	--color-primary: #255c79;
	--color-secondary: #e8433b;
	--color-background: #ffffff;
	--color-font-secondary: #484c51;
	--color-font: #10181a;
	--color-header-font: #ffffff;
	--color-header-font-hover: #43b2b2;
	--color-header: #080c0df0;
	--color-dark-1: #00000010;
	--color-dark-2: #00000020;
	--color-dark-3: #00000040;
	--color-light-2: #ffffff20;
	--duration: 0.25s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #43b2b2;
		--color-background: #10181a;
		--color-font-secondary: #aeb2b7;
		--color-font: #ffffff;
		--color-dark-1: #ffffff10;
		--color-dark-2: #ffffff20;
		--color-dark-3: #ffffff40;
	}
}

::selection {
	color: var(--color-header-font);
	background-color: var(--color-primary);
}

body {
	margin: 0;
	font-family: "Cantarell", sans-serif;
	font-size: 1rem;
	line-height: 2;
	color: var(--color-font);
	background-color: var(--color-background);
}

.main-header-banner {
	height: 8rem;
	margin: 4rem 0;
	background: url("/assets/images/blossom.avif") center / cover no-repeat;
}

h1,
h2,
h3 {
	margin: 1rem 0;
}

h3 {
	font-size: 1.25rem;
}

svg {
	width: 2rem;
	height: 2rem;
	transition: fill var(--duration);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	display: block;
}

.flex {
	display: flex;
}

.main-header {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	background-color: var(--color-header);
}

.main-header-title {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	color: var(--color-header-font);
	text-decoration: none;
	transition: color var(--duration);
}

.main-header-title:hover {
	color: var(--color-secondary);
}

.main-header-title:hover img {
	animation: 4s linear infinite rotation;
}

.nav-button {
	--hover-color: var(--color-header-font-hover);
	position: relative;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	color: var(--color-header-font);
	text-align: center;
	text-decoration: none;
	transition:
		background-color var(--duration),
		color var(--duration);
}

.nav-button:hover {
	color: var(--hover-color);
	background-color: var(--color-light-2);
}

.nav-button svg {
	fill: var(--color-header-font);
}

.nav-button:hover svg {
	fill: var(--hover-color);
}

.nav-button::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0.25rem;
	color: var(--hover-color);
	pointer-events: none;
	content: "";
	background-color: var(--hover-color);
	transform: translateX(-50%);
	transition:
		width var(--duration),
		transform var(--duration);
}

.nav-button:hover::after {
	width: 100%;
	transform: translateX(-50%);
}

.nav-button.youtube {
	--hover-color: #ff0033;
}

.nav-button.twitch {
	--hover-color: #8d44f7;
}

.nav-button.discord {
	--hover-color: #5865f2;
}

.nav-button.github {
	--hover-color: #5fed83;
}

.nav-button.twitter {
	--hover-color: #1d9bf0;
}

.nav-button.rss {
	--hover-color: #ffa500;
}

.hover-tooltip {
	position: absolute;
	left: 75%;
	z-index: 1;
	width: max-content;
	padding: 0 0.5rem;
	color: var(--hover-color);
	pointer-events: none;
	background-color: var(--color-header);
	border: 0.0625rem solid var(--hover-color);
	opacity: 0;
	scale: 75%;
	transition:
		opacity var(--duration),
		inset var(--duration),
		scale var(--duration);
}

.nav-button:hover .hover-tooltip {
	left: 100%;
	opacity: 1;
	scale: 100%;
}

#nav-checkbox {
	display: none;
}

.nav-check {
	display: none;
	cursor: pointer;
	fill: var(--color-header-font);
}

.main {
	width: min(36% + 36rem, 100%);
	min-height: calc(100vh - 24rem);
	padding: 0 1rem;
	margin: 4rem auto;
}

.blog-anchor {
	color: var(--color-font);
	text-decoration: none;
}

.blog-entry {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 1rem 0;
}

.blog-image-container {
	position: relative;
}

.blog-image {
	display: block;
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.blog-new {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0 1rem;
	color: var(--color-header-font);
	background-color: var(--color-secondary);
}

.blog-metadata {
	position: relative;
	padding: 1rem;
}

.blog-entry:hover {
	background-color: var(--color-dark-1);
}

.blog-tag {
	display: inline-block;
	font-weight: bold;
	color: var(--color-primary);
	text-transform: capitalize;
}

.blog-date {
	float: right;
	font-style: italic;
	color: var(--color-font-secondary);
}

.blog-title {
	display: block;
	margin: 0;
	font-size: 1.25rem;
	font-weight: bold;
}

.blog-description {
	margin: 0;
	color: var(--color-font-secondary);
}

.share-url {
	padding: 0.25rem;
	user-select: all;
	background-color: var(--color-dark-1);
}

.icon-links {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.icon-link {
	display: block;
	width: 2rem;
	height: 2rem;
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 1rem;
	color: var(--color-header-font);
	text-align: center;
	background-color: var(--color-header);
}

.post-header {
	margin-bottom: 4rem;
}

.post-title {
	font-size: clamp(2rem, 4vw, 3rem);
	overflow-wrap: break-word;
	border-bottom: 0.0625rem var(--color-dark-2) solid;
}

.post-image {
	display: block;
	max-width: 100%;
	margin: auto;
	margin-top: 4rem;
	user-select: none;
}

.post-footer {
	margin-top: 4rem;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.home {
	display: flex;
	gap: 1rem;
}

.home-panel {
	position: sticky;
	top: 8rem;
	flex: 1 1 25%;
	width: fit-content;
	min-width: 0;
	height: fit-content;
	margin: 0 auto;
	text-align: center;
}

.home main {
	flex: 1 1 75%;
	min-width: 0;
}

.home-portrait {
	width: 100%;
	border: 0.0625rem var(--color-dark-3) solid;
	border-radius: 100%;
}

.home-section {
	padding-bottom: 2rem;
	border-bottom: 0.0625rem var(--color-dark-2) solid;
}

.home-projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home-project {
	padding: 1rem;
	border: 0.0625rem var(--color-dark-3) solid;
	border-radius: 1rem;
}

.home-project:hover {
	border-color: var(--color-font);
}

.home-icons {
	display: grid;
	grid-template-columns: repeat(4, auto);
	row-gap: 1rem;
	justify-content: space-evenly;
}

.home-icons img {
	display: block;
	width: clamp(2rem, 10vw, 4rem);
	height: clamp(2rem, 10vw, 4rem);
	transition: transform var(--duration);
}

.home-icons img:hover {
	transform: scale(125%);
}

@media (max-width: 64rem) {
	.home {
		display: block;
	}

	.home-panel {
		top: unset;
	}

	.home-portrait {
		width: 12rem;
	}

	.main-header {
		justify-content: space-between;
	}

	.main-header-nav {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 4rem;
		background-color: var(--color-header);
		opacity: 0%;
		transform: translateX(100%);
		transition:
			transform var(--duration),
			opacity var(--duration);
	}

	.main-header-nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#nav-checkbox:checked ~ .main-header-nav {
		opacity: 100%;
		transform: translateX(0);
	}

	.main-header-nav .hover-tooltip {
		right: 75%;
		left: unset;
	}

	.main-header-nav .nav-button:hover .hover-tooltip {
		right: 100%;
		left: unset;
	}

	.nav-check {
		display: flex;
	}

	.nav-check:hover svg {
		fill: var(--color-primary);
	}

	.nav-check.close {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.open {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.close {
		display: flex;
	}

	.main-footer {
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
	}
}

@media (max-width: 32rem) {
	.main-header-nav {
		width: 100%;
	}

	.blog-entry {
		display: block;
	}

	.main-header-nav .hover-tooltip {
		inset: unset;
	}

	.main-header-nav .nav-button {
		padding: 1rem 0;
	}

	.main-header-nav .nav-button:hover .hover-tooltip {
		inset: unset;
	}
}

@font-face {
	font-family: "Cantarell";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/cantarell/B50NF7ZDq37KMUvlO015jKJr.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Cantarell";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/cantarell/B50IF7ZDq37KMUvlO01xN4d-E46f.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Cantarell";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/cantarell/B50LF7ZDq37KMUvlO015iZJpNKs.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Cantarell";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/cantarell/B50WF7ZDq37KMUvlO015iZrSEb6dDYs.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url("/assets/fonts/fira_code/uU9NCBsR6Z2vfE9aq3bh3dSDqFeedTMX.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
