html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

:root {
	--color-background: #ffffff;
	--color-font-secondary: hsl(215, 6%, 40%);
	--color-font: #10181a;
	--color-header-font: #ffffff;
	--color-header: #080c0df0;
	--color-primary: #43afaf;
	--color-secondary: #ec5146;
	--color-dark-1: #00000010;
	--color-dark-2: #00000020;
	--color-dark-3: #00000040;
	--color-light-2: #ffffff20;
	--duration: 0.25s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #10181a;
		--color-font-secondary: hsl(215, 6%, 60%);
		--color-font: #ffffff;
		--color-dark-1: #ffffff10;
		--color-dark-2: #ffffff20;
		--color-dark-3: #ffffff40;
	}
}

::selection {
	color: var(--color-header-font);
	background-color: var(--color-primary);
}

body {
	margin: 0;
	font-family: "Cantarell", sans-serif;
	font-size: 1rem;
	line-height: 2;
	color: var(--color-font);
	background-color: var(--color-background);
}

.main-header-banner {
	height: 8rem;
	margin: 4rem 0;
	background: url("/assets/images/blossom.avif") center / cover no-repeat;
}

h1,
h2,
h3 {
	margin: 1rem 0;
}

svg {
	width: 2rem;
	height: 2rem;
	transition: fill var(--duration);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.flex-list {
	display: flex;
}

.main-header {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	background-color: var(--color-header);
	backdrop-filter: blur(0.125rem);
}

.main-header-title {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	color: var(--color-header-font);
	text-decoration: none;
	transition: color var(--duration);
}

.main-header-title:hover {
	color: var(--color-secondary);
}

.main-header-title:hover img {
	animation: 4s linear infinite rotation;
}

.nav-button {
	--hover-color: var(--color-primary);
	position: relative;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	color: var(--color-header-font);
	text-align: center;
	text-decoration: none;
	transition:
		background-color var(--duration),
		color var(--duration);
}

.nav-button:hover {
	color: var(--hover-color);
	background-color: var(--color-light-2);
}

.nav-button svg {
	fill: var(--color-header-font);
}

.nav-button:hover svg {
	fill: var(--hover-color);
}

.nav-button::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0.25rem;
	color: var(--hover-color);
	pointer-events: none;
	content: "";
	background-color: var(--hover-color);
	transform: translateX(-50%);
	transition:
		width var(--duration),
		transform var(--duration);
}

.nav-button:hover::after {
	width: 100%;
	transform: translateX(-50%);
}

.nav-button.youtube {
	--hover-color: #ff0033;
}

.nav-button.twitch {
	--hover-color: #8d44f7;
}

.nav-button.discord {
	--hover-color: #5865f2;
}

.nav-button.rss {
	--hover-color: #ffa500;
}

.nav-button.email {
	--hover-color: var(--color-secondary);
}

.hover-tooltip {
	position: absolute;
	left: 75%;
	z-index: 1;
	width: max-content;
	padding: 0 0.5rem;
	color: var(--hover-color);
	pointer-events: none;
	background-color: var(--color-header);
	border: 0.0625rem solid var(--hover-color);
	opacity: 0;
	scale: 75%;
	transition:
		opacity var(--duration),
		inset var(--duration),
		scale var(--duration);
}

.nav-button:hover .hover-tooltip {
	left: 100%;
	opacity: 1;
	scale: 100%;
}

#nav-checkbox {
	display: none;
}

.nav-check {
	display: none;
	cursor: pointer;
	fill: var(--color-header-font);
}

.main {
	width: min(32% + 32rem, 100%);
	min-height: calc(100vh - 24rem);
	padding: 0 1rem;
	margin: 4rem auto;
}

.blog-anchor {
	text-decoration: none;
}

.blog-entry {
	display: flex;
	margin: 1rem 0;
	color: var(--color-font);
}

.blog-image-container {
	position: relative;
	flex: 2;
	min-height: 9rem;
	aspect-ratio: 16 / 9;
}

.blog-image {
	display: block;
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.blog-new {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 0 1rem;
	color: var(--color-header-font);
	background-color: var(--color-secondary);
}

.blog-metadata {
	position: relative;
	flex: 4;
	padding: 1rem;
}

.blog-entry:hover {
	background-color: var(--color-dark-1);
}

.blog-tag {
	display: inline-block;
	font-weight: bold;
	color: var(--color-primary);
	text-transform: capitalize;
}

.blog-date {
	float: right;
	font-style: italic;
	color: var(--color-font-secondary);
}

.blog-title {
	margin: 0;
}

.blog-description {
	margin: 0;
	color: var(--color-font-secondary);
}

.share-url {
	padding: 0.25rem;
	user-select: all;
	background-color: var(--color-dark-1);
}

.icon-links {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.icon-link {
	display: flex;
	font-weight: bold;
	color: var(--color-font);
	text-decoration: none;
}

.icon-link svg {
	display: block;
}

.icon-link.share-url {
	color: var(--color-font-secondary);
	user-select: all;
}

.icon-link.facebook {
	fill: #3c5898;
}

.icon-link.twitter {
	fill: #1da1f2;
}

.icon-link.linked-in {
	fill: #0077b5;
}

.icon-link.pinterest {
	fill: #e7001e;
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 1rem;
	color: var(--color-header-font);
	text-align: center;
	background-color: var(--color-header);
}

.post-header {
	margin-bottom: 4rem;
}

.post-title {
	font-size: clamp(2rem, 4vw, 3rem);
	overflow-wrap: break-word;
	border-bottom: 0.0625rem var(--color-dark-2) solid;
}

.post-image {
	display: block;
	max-width: 100%;
	margin: auto;
	margin-top: 4rem;
	user-select: none;
}

.post-footer {
	margin-top: 4rem;
}

@media (max-width: 80rem) {
	.main-header {
		justify-content: space-between;
	}

	.main-header-nav {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 4rem;
		background-color: var(--color-header);
		opacity: 0%;
		backdrop-filter: blur(0.125rem);
		transform: translateX(100%);
		transition:
			transform var(--duration),
			opacity var(--duration);
	}

	.main-header-nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#nav-checkbox:checked ~ .main-header-nav {
		opacity: 100%;
		transform: translateX(0);
	}

	.main-header-nav .hover-tooltip {
		right: 75%;
		left: unset;
	}

	.main-header-nav .nav-button:hover .hover-tooltip {
		right: 100%;
		left: unset;
	}

	.nav-check {
		display: flex;
	}

	.nav-check:hover svg {
		fill: var(--color-primary);
	}

	.nav-check.close {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.open {
		display: none;
	}

	#nav-checkbox:checked ~ .nav-check.close {
		display: flex;
	}

	.main-footer {
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
	}
}

@media (max-width: 40rem) {
	.main-header-nav {
		width: 100%;
	}

	.blog-entry {
		display: block;
	}

	.main-header-nav .hover-tooltip {
		inset: unset;
	}

	.main-header-nav .nav-button {
		padding: 1rem 0;
	}

	.main-header-nav .nav-button:hover .hover-tooltip {
		inset: unset;
	}

	.blog-image-container {
		min-height: unset;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
