/* .markdown {} */

.markdown h1,
.markdown h2 {
	text-decoration: none;
	border-bottom: 0.0625rem var(--color-dark-2) solid;
}

.markdown a {
	color: var(--color-primary);
	text-decoration: none;
}

.markdown a:hover {
	text-decoration: underline;
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a {
	color: inherit;
}

.markdown img {
	max-width: 100%;
	margin: auto;
}

.markdown code {
	font-family: "Fira Code", monospace;
}

.markdown > pre {
	padding: 1rem;
	background-color: var(--color-dark-1);
}

.markdown code:not(pre code) {
	padding: 0.25rem;
	background-color: var(--color-dark-1);
}

.markdown blockquote {
	--color-a: var(--color-font-secondary);
	--color-b: var(--color-dark-1);
	padding: 0 1rem;
	margin: 1rem 0;
	background-color: var(--color-b);
	border-left: var(--color-a) solid 0.25rem;
}

.markdown table {
	border-collapse: collapse;
}

.markdown th,
.markdown td {
	padding: 0 0.25rem;
	border: 0.0625rem solid var(--color-dark-2);
}

.markdown tr:nth-child(even) {
	background-color: var(--color-dark-1);
}

.codeblock {
	margin: 1rem 0;
	font-family: "Fira Code", monospace;
}

.codeblock-head {
	color: var(--color-header-font);
	text-align: center;
	background-color: var(--color-header);
}

.codeblock-body {
	display: flex;
	overflow: auto;
	background-color: var(--color-dark-1);
}

.codeblock-lines {
	min-width: 4rem;
	padding: 1rem;
	color: var(--color-font-secondary);
	text-align: right;
	user-select: none;
}

.codeblock-src {
	flex-grow: 1;
	padding: 1rem 0;
	margin: 0;
}

.alert {
	fill: var(--color-a);
}

.alert-title {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-weight: bold;
	color: var(--color-a);
	user-select: none;
}

.alert-icon {
	width: 1rem;
	height: 1rem;
}

.alert.alert-note {
	--color-a: #3aa6e4;
	--color-b: #3aa6e420;
}

.alert.alert-tip {
	--color-a: #23a74f;
	--color-b: #23a74f20;
}

.alert.alert-important {
	--color-a: #a457e2;
	--color-b: #a457e220;
}

.alert.alert-warning {
	--color-a: #e9af45;
	--color-b: #e9af4520;
}

.alert.alert-caution {
	--color-a: #e65147;
	--color-b: #e6514720;
}

/* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
/* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github-dark.css */

@media (prefers-color-scheme: light) {
	.hljs-doctag,
	.hljs-keyword,
	.hljs-meta .hljs-keyword,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable.language_ {
		color: #d73a49;
	}

	.hljs-title,
	.hljs-title.class_,
	.hljs-title.class_.inherited__,
	.hljs-title.function_ {
		color: #6f42c1;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-operator,
	.hljs-variable,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #005cc5;
	}

	.hljs-regexp,
	.hljs-string,
	.hljs-meta .hljs-string {
		color: #032f62;
	}

	.hljs-built_in,
	.hljs-symbol {
		color: #e36209;
	}

	.hljs-comment,
	.hljs-code,
	.hljs-formula {
		color: #6a737d;
	}

	.hljs-name,
	.hljs-quote,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #22863a;
	}

	.hljs-subst {
		color: #24292e;
	}

	.hljs-section {
		font-weight: bold;
		color: #005cc5;
	}

	.hljs-bullet {
		color: #735c0f;
	}

	.hljs-emphasis {
		font-style: italic;
		color: #24292e;
	}

	.hljs-strong {
		font-weight: bold;
		color: #24292e;
	}

	.hljs-addition {
		color: #22863a;
		background-color: #f0fff4;
	}

	.hljs-deletion {
		color: #b31d28;
		background-color: #ffeef0;
	}
}

@media (prefers-color-scheme: dark) {
	.hljs-doctag,
	.hljs-keyword,
	.hljs-meta .hljs-keyword,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable.language_ {
		color: #ff7b72;
	}

	.hljs-title,
	.hljs-title.class_,
	.hljs-title.class_.inherited__,
	.hljs-title.function_ {
		color: #d2a8ff;
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-operator,
	.hljs-variable,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
		color: #79c0ff;
	}

	.hljs-regexp,
	.hljs-string,
	.hljs-meta .hljs-string {
		color: #a5d6ff;
	}

	.hljs-built_in,
	.hljs-symbol {
		color: #ffa657;
	}

	.hljs-comment,
	.hljs-code,
	.hljs-formula {
		color: #8b949e;
	}

	.hljs-name,
	.hljs-quote,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
		color: #7ee787;
	}

	.hljs-subst {
		color: #c9d1d9;
	}

	.hljs-section {
		font-weight: bold;
		color: #1f6feb;
	}

	.hljs-bullet {
		color: #f2cc60;
	}

	.hljs-emphasis {
		font-style: italic;
		color: #c9d1d9;
	}

	.hljs-strong {
		font-weight: bold;
		color: #c9d1d9;
	}

	.hljs-addition {
		color: #aff5b4;
		background-color: #033a16;
	}

	.hljs-deletion {
		color: #ffdcd7;
		background-color: #67060c;
	}
}
