:root {
  --bg: #24303c;
  --dark: #0000001a;
  --duration: .25s;
  --header: #12181e;
  --key: #ffffff0d;
  --sub: #bdbfc2;
  --text: #f7f8fa;
  --theme: #3aa9f3;
}

html {
  box-sizing: border-box;
}

::selection {
  background: var(--theme);
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 0;
}

svg {
  border-radius: .5rem;
  fill: var(--text);
  height: inherit;
  padding: .25rem;
  transition: background-color var(--duration), fill var(--duration);
  width: inherit;
}

svg:hover {
  background-color: var(--key);
  fill: var(--h);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header-icon:hover img {
  animation: rotation 2.5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-hdr {
  align-items: center;
  background-color: var(--header);
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .25);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 .5rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-icon {
  align-items: center;
  color: var(--sub);
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  text-decoration: none;
}

.main-hdr nav ul li a {
  border-radius: .5rem;
  color: var(--text);
  display: block;
  padding: .25rem 1rem;
  position: relative;
  text-decoration: none;
  transition: background-color var(--duration), color var(--duration);
}

.main-hdr nav ul li a:hover {
  background-color: var(--key);
  color: var(--theme);
}

.main-hdr nav ul li a::after {
  background-color: var(--theme);
  border-radius: .125rem;
  bottom: -.5rem;
  content: "";
  height: .25rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: width var(--duration);
  width: 0;
}

.main-hdr nav ul li a:hover::after {
  width: 100%;
}

#nav-btn {
  display: none;
}

.nav-btn {
  --h: var(--theme);
  cursor: pointer;
  display: none;
  height: 2.5rem;
  width: 2.5rem;
}

@media (max-width: 72rem) {
  .main-hdr nav ul {
    background-color: var(--header);
    display: none;
    flex-direction: column;
    gap: .75rem;
    height: calc(100vh - 4rem);
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 4rem;
    width: 24rem;
  }

  #nav-btn:checked~ul {
    display: flex;
  }

  .nav-o {
    display: block;
  }

  #nav-btn:checked~.nav-o {
    display: none;
  }

  #nav-btn:checked~.nav-x {
    display: block;
  }
}

@media (max-width: 36rem) {
  .main-hdr nav ul {
    height: min-content;
    padding-bottom: 1.75rem;
    width: 100%;
  }
}

.main-ftr {
  align-items: center;
  background-color: var(--header);
  display: flex;
  color: var(--sub);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.main-ftr nav ul {
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.main-ftr nav ul li a {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
}

.main-ftr span a {
  color: var(--text);
  text-decoration: none;
}

.main-ftr span a:hover {
  text-decoration: underline;
}

.content {
  margin: 4rem auto;
  min-height: calc(100vh - 12rem);
  padding: 0 1rem;
  width: clamp(0%, 25% + 18rem, 100%);
}

.content ol p,
.content ul p {
  margin: 0;
  padding: 0;
}

.content a {
  color: var(--theme);
  text-decoration: none;
}

.content p a:hover {
  text-decoration: underline;
}

h1,
h2 {
  border-bottom: .0625rem solid var(--key);
}

h6 {
  color: var(--sub);
  font-size: small;
}

blockquote {
  background-color: var(--dark);
  border-radius: 0 .25rem .25rem 0;
  border-left: .25rem solid var(--sub);
  color: var(--sub);
  margin: 0;
  padding-left: 1rem;
}

li code,
p code {
  background-color: var(--header);
  border-radius: .25rem;
  padding: .25rem .5rem;
}

pre {
  background-color: var(--header);
  border-radius: .25rem;
  line-height: 1.25rem;
  overflow: auto;
  padding: 1rem;
  scrollbar-color: var(--sub) transparent;
  scrollbar-width: thin;
  width: 100%;
}

ul:has(> li input) {
  list-style: none;
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: .0625rem solid var(--sub);
  padding: .25rem .5rem;
}

tr:nth-child(even) {
  background-color: var(--dark);
}

p:has(> img) {
  background-color: var(--dark);
  border-radius: .25rem;
  height: 100%;
  margin: auto;
  max-width: 100%;
  padding: 1rem;
  width: max-content;
}

p img {
  display: block;
  width: 100%;
}

.scroll-to-top {
  --h: var(--theme);
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  height: 3rem;
  width: 3rem;
}

article {
  border-radius: .5rem;
  padding: .25rem 1rem;
}

article:hover {
  background-color: var(--key);
}

article header {
  color: var(--text);
}

article div,
article footer {
  color: var(--sub);
  margin: 1rem 0;
}

.author {
  color: var(--theme);
}

/** https://github.com/highlightjs/highlight.js/blob/main/src/styles/atom-one-dark.css */
/** https://github.com/highlightjs/highlight.js/blob/main/src/styles/atom-one-light.css */

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f3f6f8;
    --dark: #ffffff55;
    --header: #ffffff;
    --key: #0000000d;
    --sub: #52565c;
    --text: #263036;
  }

  .header-icon img {
    filter: invert(1);
  }

  .hljs-comment,
  .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #a626a4;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e45649;
  }

  .hljs-literal {
    color: #0184bb;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string {
    color: #50a14f;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #986801;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #4078f2;
  }

  .hljs-built_in,
  .hljs-title.class_,
  .hljs-class .hljs-title {
    color: #c18401;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}